header nav img {
  max-width: 60px;
}

html, body {
  width: 100%;
}

h1, h2, h3, p, nav {
  font-family: 'Quicksand', sans-serif;
}

.home-footer, footer {
  background-color: #315782;
  padding: 2%;
  color: white;
  text-align: center;
}

.home-footer img, footer img {
  max-width: 200px;
}

.home-footer hr, footer hr {
  max-width: 250px;
  border-top: 1px solid white;
}

.home-footer span, footer span {
  font-size: 30px;
}

.home-footer span a, footer span a {
  color: white;
}

.text-heading {
  margin-left: -15px;
  margin-right: -15px;
  padding-left: 15px;
  padding-top: 100px;
  padding-bottom: 75px;
  background-color: #315782;
  color: white;
}

.text-body {
  padding-left: 20px;
  padding-right: 200px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.text-body p {
  font-size: 20px;
}