.container-fluid {
  padding: 0;
}

#landing-video {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  border-radius: 0.5px;
}

#landing-video-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 !important;
}

#landing-video-overlay h1, #landing-video-overlay h2 {
  color: white;
}

#landing-video-overlay h1 {
  font-size: 50px;
}

.home-body {
  position: absolute;
  top: 100%;
}

header .navbar {
  background-color: rgba(255, 255, 255, 0.75);
}

#landing-logo {
  width: 500px;
}

.fade-in {
  animation: fadeIn 3s;
  -webkit-animation: fadeIn 3s;
  -moz-animation: fadeIn 3s;
  -o-animation: fadeIn 3s;
  -ms-animation: fadeIn 3s;
}

.zoom-in {
  animation: zoomIn 3s;
  -webkit-animation: zoomIn 3s;
  -moz-animation: zoomIn 3s;
  -o-animation: zoomIn 3s;
  -ms-animation: zoomIn 3s;
}

.fade-and-zoom-in {
  animation: fadeIn 3s, zoomIn 3s;
  -webkit-animation: fadeIn 3s, zoomIn 3s;
  -moz-animation: fadeIn 3s, zoomIn 3s;
  -o-animation: fadeIn 3s, zoomIn 3s;
  -ms-animation: fadeIn 3s, zoomIn 3s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@keyframes zoomIn {
  0% {
    width:0;
  }
  100% {
    width: 500px;
  }
}

@-moz-keyframes zoomIn {
  0% {
    width:0;
  }
  100% {
    width: 500px;
  }
}

@-webkit-keyframes zoomIn {
  0% {
    width:0;
  }
  100% {
    width: 500px;
  }
}

@-o-keyframes zoomIn {
  0% {
    width:0;
  }
  100% {
    width: 500px;
  }
}

@-ms-keyframes zoomIn {
  0% {
    width:0;
  }
  100% {
    width: 500px;
  }
}